:root {
	/* https://communications.oregonstate.edu/brand-guide/visual-identity/colors */

	/* oranges, yellows,  */
	--beaverOrange: #d73f09;
	--solarFlare: #d3832b;
	--luminance: #ffb500;
	--candela: #fdd26e;

	/* blues */
	--stratosphere: #006a8e;
	--starCanvas: #003b5c;
	--moondust: #c6dae7;

	/* blue-greens */
	--rogueWave: #0d5257;
	--highTide: #00859b;
	--seafoam: #b8dde1;

	/* greens */
	--pineStand: #4a773c;
	--reindeerMoss: #c4d6a4;
	--reindeerMossBright: #659f01;
	--hopBine: #aa9d2e;

	/* Grayscale and earth*/
	--paddletailBlack: #000;
	--darkBg: #212529;
	--text: #423e3c;
	--highDesert: #7a6855;
	--coastline: #a7aca2;
	--crater: #8e9089;
	--till: #b7a99a;
	--navBg: #e9e5e4;
	--offWhite: #f7f5f5;
	--bucktoothWhite: #fff;

	/* Default UI elements */
	--font-body: system-ui, Avenir, Helvetica, Arial, sans-serif;
	--line-height-base: 1.5;
	--font-weight-base: 400;

	--border-radius: 0.5rem;
	--box-shadow-sm: 0 1px 4px rgba(0, 0, 0, 0.1);
	--transition-fast: 0.2s ease-in-out;

	/* Custom colors */
	--darkBlue: #535bf2;
	--lightBlue: #646cff;
}

/* Light Theme */
.theme-light {
	--color-bg: #f0f0f0;
	--color-text: var(--paddletailBlack);

	--bg-contrast: var(--bucktoothWhite);
	--bg-contrast-hover: #e0e0e0;
	--btn-text: #111;

	--table-bg: var(--bucktoothWhite);
	--table-border: #d1d5db;
	--table-header-bg: #f3f4f6;
	--table-text: var(--paddletailBlack);
	--table-hover: #e2e2e2;
	--table-hover-accent: #fba6a6;
}

/* Dark Theme */
.theme-dark {
	--color-bg: #121212;
	--color-text: var(--bucktoothWhite);

	--bg-contrast: #2a2a2a;
	--bg-contrast-hover: #3a3a3a;
	--btn-text: #f1f1f1;

	--table-bg: #1e1e1e;
	--table-border: #444;
	--table-header-bg: #2a2a2a;
	--table-text: #f1f1f1;
	--table-hover: #2d2d2d;
	--table-hover-accent: #914141;
}

/* Base Styling */
html,
body {
	background-color: var(--color-bg);
	color: var(--color-text);
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: var(--font-body);
	line-height: var(--line-height-base);
	font-synthesis: none;
	font-weight: var(--font-weight-base);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1200px) {
	body {
		padding: 2rem;
	}
}

#root {
	display: flex;
	justify-content: center;
}

/* Elements */
a {
	font-weight: 500;
	color: var(--lightBlue);
	text-decoration: none;
}

a:hover {
	color: var(--darkBlue);
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border: none;
	border-radius: var(--border-radius);
	background-color: var(--bg-contrast);
	box-shadow: var(--box-shadow-sm);
	color: var(--btn-text);
	cursor: pointer;
	font-size: 1rem;
	font-weight: 500;
	padding: 0.6rem 1.2rem;
	transition: background-color var(--transition-fast),
		color var(--transition-fast);
}

button:hover {
	background-color: var(--bg-contrast-hover);
}

button:disabled {
	cursor: not-allowed;
	opacity: 0.6;
}

/* Global classes */
.error {
	color: #e42222;
}

.linkButton {
	background: none;
	border: none;
	box-shadow: none;
	color: var(--lightBlue);
	cursor: pointer;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.linkButton:hover {
	background: none;
	color: var(--darkBlue);
}
